modules = ["python-3.12"]
run = "dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "dev"]

[workflows]
runButton = "Run VMAF App"

[[workflows.workflow]]
name = "Run VMAF App"
author = 40724597
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -c \"import sys; print(f'Python {sys.version}')\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m pip install -r requirements.txt"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run VMAF Debug"
author = 40724597
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python vmaf_debug.py -r models/reference_video.mp4 -d models/distorted_video.mp4"
